{% include 'base/header.html' %}

<div class="container mt-5">

    <div class="main-card p-5">

        <div class="row align-items-center">

            <div class="col-lg-8">

                <span class="badge bg-primary mb-3 p-2">

                    Student Dashboard

                </span>

                <h1 class="page-title">

                    Welcome,
                    {{ user.username }}

                </h1>

                <p class="page-subtitle mt-3">

                    Access your enrolled courses,
                    watch protected videos,
                    and continue your learning journey.

                </p>

                <a href="{% url 'courses' %}"
                   class="gradient-btn mt-4 d-inline-block text-decoration-none">

                   Open My Courses

                </a>

            </div>

            <div class="col-lg-4 text-center">

                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135755.png"
                     width="220">

            </div>

        </div>

    </div>

</div>

{% include 'base/footer.html' %}